<div class="users">

    <div></div>
    <table class="mainTable">

        <tr ng-repeat="n in data" class="line">
            <td ng-click="myFunc(n.id)"><h4 >{{n.username}} <i> id:{{n.id}}</i></h4><img src="{{n.avatar}}" width="300"/></td>
            <td class="leftSided" ng-click="myFunc(n.id)">
                <p>Name: <b>{{n.name}}</b></p>
                <p>Surname: <b>{{n.surname}}</b></p>
                <p>Date of Birth: <b>{{n.birthDate}}</b></p>
                <p>Mail: <b>{{n.email}}</b></p>
                <p>Telephone: <b>{{n.telephone}}</b></p>
                <p>Adress: <b>{{n.address}}</b></p>
                <p>Favourite Genre: <b>{{n.mainGenre}}</b></p>
            </td>
        </tr>
        <tr>
            <td><p>Username: <input type="text" ng-model="selectedUserName"></p><br>
                <p>Avatar: <input class="avatarInput" type="text" ng-model="selectedAvatar"></p>

                <button ng-click="add()">Add</button>
                <button ng-click="edit()"  value="Edit" ng-disabled="disButtons">Edit</button>
                <button ng-click="delete(mainSelectedId)" ng-disabled="disButtons">Delete</button>
                <p>Selected ID: {{mainSelectedId}}</p>
            </td>
            <td><p>Name: <input type="text" ng-model="selectedName"></p>
            <p>Surname: <input type="text" ng-model="selectedSurname"></p>
            <p>BirthDate: <input type="text" ng-model="selectedBirthDate"></p>
            <p>Email: <input type="text" ng-model="selectedEmail"></p>
            <p>Telephone: <input type="text" ng-model="selectedTelephone"></p>
            <p>Address: <input type="text" ng-model="selectedAddress"></p>
            <p>Favorite Genre: <input type="text" ng-model="selectedMainGenre"></p>
            <p>Password: <input type="text" ng-model="selectedPassword"></p></td>
        </tr>

    </table>


</div>
